body {
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding-top: 1rem;
    aspect-ratio: 3/4;
    background-color: lightblue;
    text-align: center;
    color: white;
}

.header__h1 {
    font-size: 3.5rem;
    font-family: "Dancing Script", cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header__button {
    margin-top: 1rem;
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
    color: white;
    background-color: #dc6d3c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.header__button:hover {
    background-color:  #ff7d45;
}

.header__nav-list {
    list-style-type: none;
    padding: 0;
}